<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ECDash</title>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"/>
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.16.0/jsoneditor.min.css"/>
  <style>
    body {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: left;
      background-color: #fff;
    }
    [v-cloak] {
      display: none;
    }
    .main-container {
      padding: 16px 32px;
    }
    .page-title {
      padding: 16px 0 8px 0;
    }
  </style>
  <script>
    const CONFIG = {{{json config}}}
    const QUERY = {{{json query}}}
    const PARAM = {{{json param}}}
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/5.16.0/jsoneditor.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- Add this after vue.js -->
  <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  <script src="//unpkg.com/vuejs-datepicker@1.5.4/dist/vuejs-datepicker.min.js"></script>
  <script>
    Vue.options.delimiters = ['${', '}']
  </script>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">ECDash</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{config.basePath}}/mainboard">Mainboard</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="container-fluid main-container">
    {{{body}}}
  </div>
</body>
</html>
